
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.mediaList {
  .mediaList_item {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.mediaLibrary {
  .panel-footer {
    overflow: auto;
  }
  .mediaCollections {
    margin-bottom: 15px;
  }
}